version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro 
      - ./frontend/dist:/usr/share/nginx/html:ro    
    ports:
      - "8080:80" 
    depends_on:
      - api
    networks:
      - app_network

  api:
    build: ./api
    container_name: api
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://anya:Qq123456@db:5432/university_db
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:13
    container_name: postgres_db
    environment:
      POSTGRES_USER: anya
      POSTGRES_PASSWORD: Qq123456
      POSTGRES_DB: university_db
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
